* {
    font:"Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.hero,
.footer {
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
}

.hero-main-text {
    font-size:48;
    font-weight: 900;
    color: #F9FAF8
}

.hero-secondary-text {
    font-size:18px;
    color: #e5e7eb;
}

.hero-logo {
    font-size:24px;
    color:#F9FAF8;
    margin:16px;
}

button {
    background-color:#3882F6;
}

.information-header {
    font-size:36px;
    font-weight: 900;
    color:#1F2937;
}

.quote-section {
    color:#E5E7EB;
    margin-left:auto;
    margin-right:300px;
}

.quote-text {
    font-size:36px;
    font-weight: 300;
    color: #1F2937;
    margin:10px 300px;
}

.quote {
    display:flex;
    flex-direction: column;
    background-color: lightslategray;
}

.one-similar-game {
    display:flex;
    flex-direction: column;
}

.donate {
    display:flex;
    background-color: #3882F6;
    flex:1;
    margin: 0px 300px;
}

.similar-games {
    display:flex;
    flex-direction: column;
}

.similar-games-top {
    display:flex;
    justify-content:center;
}

.similar-games-bottom {
    display:flex;
    justify-content: space-around;
}

.header {
    display:flex;
}

.header-right {
    display:flex;
    justify-content:flex-end;
    margin-left:auto;
}

.hero-main {
    display: flex;
}

.hero-main-left {
    display:flex;
    flex-direction: column;   
}

.hero-main-right {
    display:flex;
    justify-content: center;
    flex:1;
}

ul {
    display:flex;
    gap:15px;
}

li {
    list-style: none;
}

.one-similar-game img {
    border:#3882F6 solid 3px;
}

.ultimatum {
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate div,
.donate button {
    color:white;
}

.donate-left {
    display:flex;
    flex-direction: column;
    margin-right:20px;
}

.donate-right {
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top:auto;
    color:whitesmoke;
    justify-content: center;
    align-items: center;
    
}