* {
    font:"Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.hero,
.footer {
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
}

.hero-main-text {
    font-size:48;
    font-weight: 900;
    color: #F9FAF8
}

.hero-secondary-text {
    font-size:18px;
    color: #e5e7eb;
}

.hero-logo {
    font-size:24px;
    color:#F9FAF8;
    margin:16px;
}

button {
    background-color:#3882F6;
}

.information-header {
    font-size:36px;
    font-weight: 900;
    color:#1F2937;
}

.quote-section {
    color:#E5E7EB;
}

.quote-text {
    font-size:36px;
    font-weight: 300;
    color: #1F2937;
}

.quote {
    display:flex;
}

.donate {
    display:flex;
}

.similar-games {
    display:flex;
}

.header {
    display:flex;
}

.header-right {
    display:flex;
    justify-content:flex-end;
    margin-left:auto;
}

.hero-main {
    display: flex;
}

ul {
    display:flex;
    gap:15px;
}

li {
    list-style: none;
}