* {
    font:"Roboto", sans-serif;
}

.hero,
.footer {
    background-color: #1F2937;
}

.hero-main-text {
    font:48;
    font-weight: 900;
    color: #F9FAF8
}

.hero-secondary-text {
    font:18px;
    color: #e5e7eb;
}

.hero-logo {
    font:24px;
    color:#F9FAF8;
}

button {
    background-color:#3882F6;
}

.information-header {
    font:36px;
    font-weight: 900;
    color:#1F2937;
}

.quote-section {
    color:#E5E7EB;
}

.quote-text {
    font:36px;
    font-weight: 300;
    color: #1F2937;
}
